* {
    -webkit-tap-highlight-color: transparent;
}

ul, li {
    list-style: none;
}

.food {
    color: #000000;
    position: absolute;
    font-size: 1em;
    transform: scale(1.4);
}

.food-enter-active {
    transition: all 300ms ease-out;
}

.food-leave-active {
    transition: all 1000ms ease-out;
}

.food-enter-from {
    opacity: .8;
    transform: scale(1.5);
}

.food-leave-to {
    opacity: 0;
    transform: scale(.5);
}
